[pull]
	rebase = true
[user]
	name = segersniels
	email = github@niels.foo
[core]
	excludesfile = ~/.gitignore
[push]
	autoSetupRemote = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
